.navbar_Dark {
    background: #222222;
    color: #ff5b00;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

body {
    background: #464646;
    color: #F0F0F0;

}

h1{
    padding: 10px;
    color: #4794FF;
}

input {
    margin-left: 10px;
}

a {
    color: #ff5b00;
}

