# MacOS files
**/.DS_Store
.DS_Store

# Arduino 2.0 files
**/debug.cfg
**/debug_custom.json
**/esp32.svd

# Jetbrains files
*.xml
*.iml
CrashCourse/DP/ESP_Code/config.h
/CrashCourse/RC/ESPPostDnsitiveInformation.h
ata/se
CrashCourse/RC/ESPPostData/debug.cfg
CrashCourse/RC/ESPPostData/debug_custom.json
CrashCourse/RC/ESPPostData/sensitiveInformation.h
/Module code/Old code/Working Windmeel/sensitiveInformation.h
/.idea/markdown.xml
/.idea/modules.xml
/.idea/php.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/RedditsToothiestDevelopmentTwin.iml
/.idea/vcs.xml
/.idea/dataSources.xml
/.idea/sqldialects.xml
/.idea/
Module code/findMe/src/sensitiveInformation.h
**/.idea/

**/.vscode/