.navbarCustom {
    /* background: #232526; */

    background: rgba(35,37,38,0.5);

    font-size: 110%;


    color: white;
    border-radius: 1rem;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    padding: 0.5%;


    -webkit-font-smoothing: antialiased;
}



.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.contactTable{
    border: white;
    border-color: white;
    border-bottom-style: solid;
}

.leaderboard{
    border: white;
    border-color: white;
    border-bottom-style: solid;
}

body {
    background: linear-gradient(to bottom right, black 0%, #232526, lightskyblue 100%)
    , radial-gradient(50% 90% at 30% 150%, hotpink, #232526)
    , radial-gradient(100% 150% at -33% 5%, greenyellow, #232526);
    background-blend-mode: overlay;


    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    color: white;

}


h1{
    padding: 2%;
    color: white;
    font-size: 3.8rem;
    line-height: 4.4rem;
}

input {
    margin-left: 10px;
}

a {
    color: white;
}

.centerBox {
    background: rgba(35,37,38,0.5);
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40rem;
    max-width: 50rem;
    width: 100%;
    margin: 5rem auto;
}

.wideBox {
    background: rgba(35,37,38,0.5);
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48rem;



    margin: 1%  ;
}

.subBoxWhite {
    background: rgba(65,67,68,0.5);
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40rem;

    max-width: 100%;
    width: 100%;

    margin: 1%  ;
}


.title {
    margin-bottom: 2rem;
}
.title h1,
.title h2 {
    display: block;

}
